body{ 
    font-family: Calibri, sans-serif; 
}

#container{ 
    text-align: center;
}

table{ 
    border-collapse: collapse; 
    font-size: 2em; 
    margin: 0 auto; 
}

colgroup, tbody{ 
    border: solid medium;
}

td{
    border: solid thin; 
    height: 1.4em; 
    width: 1.4em; 
    text-align: center; 
    padding: 0; 
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 19px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 12%;
}

.button-31:hover {
  color: white;
  background-color: green;
}
    
.padd{
    padding-bottom: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
}

#clear-button{
    margin-left: 35px;
}




